extends ../layout

block css
  link(rel='stylesheet',href='/css/katie/katie_stream.css')
  link(rel='stylesheet',href='/css/animate.css')

block content
  div(class='jumbotron' id='welcome')
    h1 Hello.
    p In the first ever 360&deg; live cooking demo, Katie Quinn is going to cook something special for you. Click and drag your mouse to look around and double click to send her some love.
    p(class='wait')
      a(class='btn btn-primary btn-lg btn-custom') Stream starts at 12:01 pm (EST)
    p(class='join')
      a(class='btn btn-primary btn-lg btn-custom' id='join' role='button') Join
    h6 Note: Streaming quality is based on your internet connection

  div(class='container-fluid')
  
    div(id='container')
    div(id='logo')
      a(href='http://svrround.com')
        img(src='/images/logo.png', id='logo-img')

    div(id='chat-wrapper', class='shadow')
      div(id='chat-subwrapper')
        div(id='chat-toggle')
          a(href="#", class='toggle-chat')
            span(class='glyphicon glyphicon-remove')
        div(id='chat-widget')
          div(id='chat-spacer')
          div(id='chat-box')
            ul(id='chat-message-list', class='list-unstyled')
            p(class='text-center placeholder-text') No messages yet. Send her one.
          div(id='chat-message')
            img(class='emoji' src='https://abs.twimg.com/emoji/v1/72x72/1f601.png' width='40px' height='40px')
            img(class='emoji' src='https://abs.twimg.com/emoji/v1/72x72/1f61d.png' width='40px' height='40px')
            img(class='emoji' src='https://abs.twimg.com/emoji/v1/72x72/1f631.png' width='40px' height='40px')
            img(class='emoji' src='https://abs.twimg.com/emoji/v1/72x72/1f610.png' width='40px' height='40px')
            img(class='emoji' src='https://abs.twimg.com/emoji/v1/72x72/1f62d.png' width='40px' height='40px')
            img(class='emoji' src='https://abs.twimg.com/emoji/v1/72x72/1f60d.png' width='40px' height='40px')
            img(class='emoji' src='https://abs.twimg.com/emoji/v1/72x72/1f635.png' width='40px' height='40px')
            
            div(class='row chat-row')
              form(id='chat-form', class='form-inline' ,autocomplete='off')
                div(class='col-xs-9 no-padding-right')
                  input(type='text', name='message', id='chat-input-message' placeholder='Send Katie a message', class='form-control')
                div(class='col-xs-3 no-padding-left')
                  input(type='submit', value='Send', class='form-control btn btn-default btn-custom')

    div(id='info')
      p!= "Double Click anywhere to show Katie your &nbsp<span class='glyphicon glyphicon-heart'></span>&nbsp"
      p(class='dismiss-info') (click to dismiss)

                    

  
block javascript
  script(src="/js/lib/three.min.js")
  script(src="/js/lib/orbitcontrols.js")
  script(src="/js/lib/hls.min.js")
  script(src="/js/lib/colladaloader.js")
  script(src="/js/lib/modernizr-custom.js")
  script(src="/js/lib/Tween.js")
  script(src="/js/katie/katie_stream.js")
