extends layout

block css
  link(rel='stylesheet',href='/css/activate.css')

block content
  div(class='container')
    div(class='row')
      div(class='col-xs-12')
        br
        a(href='#', id='activate', class='btn btn-lg btn-block btn-success') Start Stream (once in the beginning)

    div(class='row')
      div(class='col-xs-12')
        br
        br
        br
        a(href='#', id='deactivate', class='btn btn-lg btn-block btn-danger') Pause Stream (when changing camera)

    div(class='row')
      div(class='col-xs-12')
        br
        br
        br
        a(href='#', id='resume', class='btn btn-lg btn-block btn-primary') Resume Stream (after camera changed)

    div(class='row')
      div(class='col-xs-12')
        br
        br
        br
        a(href='#', id='full-deactivate', class='btn btn-lg btn-block btn-danger') Kill Stream (in the end)

    
block javascript
  script(src="/js/activate.js")