extends layout

block css
  link(rel='stylesheet',href='/css/activate.css')

block content
  div(class='container')
    div(class='row')
      div(class='col-xs-12')
        br
        br
        br
        a(href='#', id='activate', class='btn btn-lg btn-block btn-success') Activate

    div(class='row')
      div(class='col-xs-12')
        br
        br
        br
        br
        a(href='#', id='deactivate', class='btn btn-lg btn-block btn-danger') Temp Deactivate

    div(class='row')
      div(class='col-xs-12')
        br
        br
        br
        br
        a(href='#', id='full-deactivate', class='btn btn-lg btn-block btn-danger') Kill Stream

block javascript
  script(src="/js/activate.js")