extends layout

block css
  link(rel='stylesheet',href='/css/style.css')

block content
  div(class='site-wrapper')
    div(class='site-wrapper-inner')
      div(class='cover-container')
        div(class='masthead clearfix')
          div(class='inner')
            nav
              ul(class='nav masthead-nav')
                li
                  a(href='#') Home
                li
                  a(href='/live', class='live') Live Stream
        div(class='inner cover')
          h1(class='cover-heading')
            img(src='/images/logo_black.png',alt='Svrround', width="400")
          p(class='lead') 360&deg; live streams with your favorite artists
          div(class='row')
            div(class='col-md-2 col-lg-3')
            div(class='col-md-8 col-lg-6')
              form(id='signup')
                input(type='email', placeholder='Your Email', class='text-center form-control input-lg email')
                br
                input(type='submit', value='Stay Updated', class='btn btn-default btn-lg btn-block btn-custom')
              div(class='thanks')
               p(class='lead largep') Thank you!
               p(class='lead subtext') You'll hear from us soon
              br
              br
              p(class='get')!= "Have an idea for a stream? <a href='mailto:davidcihelna@gmail.com', class='contact'>Get in touch</a>"
            div(class='col-md-2 col-lg-3')
          p(class='lead')
            

        div(class='mastfoot')
          div(class='inner')
            ul(class='list-inline list-unstyled')
              li
                p
                  a(href='https://www.facebook.com/svrroundvr', target='blank') Facebook
              li
                p
                  a(href='https://www.twitter.com/svrroundvr', target='blank') Twitter
              
      
block javascript
  script(src='/js/global.js')