
html, body, canvas{
	margin: 0;
	padding: 0;
	background: #888;
	overflow: hidden;

}

/**** WELCOME SCREEN ****/
#welcome{
	position: absolute;
	z-index: 1000;
	padding: 5%;
	margin: 5%;
	width: 50%;
}
.modal-body{
	height:140px;
}


#hashtag{
	position: absolute;
	bottom: 0;
	left: 0;
	color: white;
	padding-left: 4px;
}

.join {
	display: none;
}

/**** CHAT *****/


.shadow {
	box-shadow: 0 0 5px 2px #333;
	
}

.placeholder-text {
	color: #ddd;
	font-weight: 300;
}


.invite-input{
	margin-right:3px;
}


.popover{
	min-width:400px;
}


.no-padding-right{
	padding-right: 0;
	padding-left: 0;
}

.no-padding-left {
	padding-left: 0;
	padding-right: 0;
}


canvas{
	position: absolute;
	left: 0;
}
video{
	position: absolute;
	left: 0;
}

#hearts {
	background: black;
	position: absolute;
	height: 100%;
	width: 100%;
	top:0px;
	left: 0px;
	z-index: -5;
	/*display: none;*/
}

.input-group-addon {
	padding: 0;
	border: none;
}

#info {
	position: absolute;
	width: 395px;
	font-size: 14px;
	bottom: 10px;
	left:10px;
	background: rgba(0,0,0,0.5);
	padding: 10px;
	color: #fff;
	cursor: pointer;
}

#signupForm {
	position: absolute;
	width: 395px;
	font-size: 14px;
	bottom: 100px;
	left:10px;
	background: rgba(0,0,0,0.5);
	padding: 10px;
	color: #fff;
	cursor: pointer;
}

.form-group{
	display: inline;
}

.email {
	width: 65%;
	border: none;
}

.email, .signup-btn{
	display: inline;
}

.signup-btn {
	margin-top: -2px;
}




.glyphicon {
	color: #ef4136;
	font-size: 16px;
}


.dismiss-info {
	font-style: italic;
	font-size: 11px;
	margin-bottom: 0;
}

.email-info {

	font-size: 13px;
	margin-bottom: 5px;
}

#container:hover{
	cursor: -webkit-grab; cursor: -moz-grab;
}

#container:active{
	cursor: -webkit-grabbing; cursor: -moz-grabbing;
}



/**** CHAT *****/


.emoji-icon-con {
    display: inline-table;
    width: 25%;
    height: 100%;
    position: relative;
}



.emoji-icon {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#emoji-box{
	background: rgba(0,0,0,0.3);
	z-index:123;
}

#chat-wrapper{
	position: absolute;
	top:0;
	right: 0;
	width: 20%;
	height: 100%;
	min-width: 255px;
	max-width: 255px;

}

.shadow {
	box-shadow: 0 0 5px 2px #333;
}

.placeholder-text {
	position: relative;
	top:50%;
	text-align: center;
	color: #ddd;
	font-weight: 300;
}

#chat-subwrapper {
	position: relative;
	height: 100%;
	min-width: 100%;
}

.toggle-chat, .toggle-chat:link, .toggle-chat:visited, .toggle-chat:active {
	color: #ef4136;
}

.toggle-chat:hover {
	color: #bf342b;
	text-decoration: none;
}

.popover{
	min-width:400px;
}

#chat-widget{
	position: absolute;
	right: 0;
	top: 0;
	width:100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
}

#chat-spacer {
	height:6%;
	min-height:40px;
	width: 100%;
	/*border-bottom: 1px solid #000;*/
	background: rgba(0,0,0,.1);
}

#chat-box {
	height: 80%;
	width: 100%;
	overflow-y: scroll;
	padding: 10px;
}

#chat-message-list div{
	position: relative;
	right:0;
	padding:0;
	padding-top:4px;
	text-align:right;
	font-size: 10px;
}

#chat-message-list li {
	padding-top: 5px;
	padding-bottom: 8px !important;
	border-bottom: 1px solid rgba(204,204,204,.15);
	font-size: 12px;
	color: #eee;
	width: 100%;
	padding: 0;
}

.chat-row {
	margin-right: 0;
	margin-left: 0;
}

#chat-message {
	height: 19%;
}


#chat-input-message{
	padding-right:40px;
	height:43px;
	width:200px;
	position: relative;
	left:0;
	bottom:0;
}

.btn-send{
	right:0;
	bottom:0;
	margin-left:5px;
	height:43px;
}


#chat-form {
	position: fixed;
	bottom: 0;
	margin:0;
	z-index: 200;
}

.no-padding{
	padding-right: 0;
	padding-left: 0;
}

.btn, .form-control {
	border-radius: 0;
}


.form-control:focus{
	box-shadow: none;
	-webkit-box-shadow: none;
	border-color:#ccc;
}

.btn-custom, .btn-custom:active, .btn-custom:visited, .btn-custom:focus{
	border-color: #ef4136;
	background:#ef4136;
	color: #fff;
}

.btn-custom2, .btn-custom2:active, .btn-custom2:visited, .btn-custom2:focus{
	border-color: #ef4136;
	background:#2196f3;
	color: #fff;
}

.btn-custom2:hover {
	border-color: #bf342b;
	background:#1286e5;
	color: #fff;
}

.btn-custom:hover {
	border-color: #bf342b;
	background:#bf342b;
	color: #fff;
}


#container{
	width:100%;
	height:100%;
	position: absolute;
	left:0;
	margin:0;
	padding:0;
}


.invite-input{
	margin-right:3px;
}

#chat-toggle {
	position: absolute;
	top: 10px;
	right: 14px;
	z-index:200;
	font-size: 20px;
}

#social-toggle {
	position: absolute;
	top: 10px;
	right: 47px;
	z-index:200;
	font-size: 20px;
}

#invite-toggle {
	position: absolute;
	top: 10px;
	right: 79px;
	z-index:200;
	font-size: 20px;
}

#invite-text{
	font-size:14px;
	color: #ef4136;
}

#logo{
	position: absolute;
	margin: 5px;
	z-index: 10;
	top:0;
	left:2;
}
#logo-img{
	width: 150px;
	height: auto;
}

.ui-icon{
	width:22px;
}

.input-group-addon {
	padding: 0;
	border: none;
}

#more-info {
	font-size:18px;
	margin:18px;
}




/*LA MAMA CSS*/


#wait-button a, #wait-button a:hover{
	text-decoration: none;
	color:white;
}

#join-button{
	display:none;
}

	.lamama{/*lamama*/
		top: 25% !important;
		height: 20%;
		width: 78%;
		z-index: 12;
	}

	.note-info{
		color: #FFF;
		position: absolute;
		top:auto;
		bottom: 0px;
		left: 10%;
		text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
		z-index: 10;
	}

	#videoFrame{ 
		height: 100%;
		width: 100%;
		position: fixed;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		margin: auto;
		width: 640px;
		height: 360;
		background-color: #000;
		text-align: center;
		opacity: 0.2;
		display:none;
	}

	video{
		height: 100%;
	}

	.header{
		position: fixed;
		min-height: 80px;
		height: 16%;
		width: 100%;
		z-index: 99999;
	}

	.logo-box{
		height: 100%;
		background-position: center center;
	}

	#logo-box-back{
		background-repeat: repeat-x;
		background-image: url("../../images/lamama/logo_back.svg");
	}

	#logo-box-middle{
		background-size: 32%;
		background-repeat: no-repeat;
		background-position: 3.3% center;
		background-image: url("../../images/lamama/logo_mid.svg");
    }

	#logo-box-front{
		background-size: 34%;
		background-repeat: no-repeat;
		background-position: 2% center;
		background-image: url("../../images/lamama/logo_front.svg");
		animation-name: logo-blink;
      	animation-duration: 3s;
      	animation-iteration-count: infinite;
      	animation-timing-function: ease-in-out;
	}

	@keyframes logo-blink {
    0%   {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
    }

    #stream-frame{
    	display:none;
    }

	#main-frame{
		overflow: hidden;
		position: relative;
		height: 100%;
		background-color: #1C1C1C;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

	}

	.cover-info{
		top: 20%;
		right: 0px;
		left: 0px;
		margin: auto;
		position: absolute;
		height: 55%;
		width: 65%;
		min-width: 240px;
		min-height: 300px;
		color: #FFF;
		text-shadow:0px 0px 5px #000;
	}

	.join-button{
		border: solid 0.5px #AA3634;
		background-color: rgba(255,45,10,0.2);
		position: absolute;
		color: #FFF;
		left: 0px;
		right: 0px;
		margin: auto;
		bottom: -65px;
		height: 56px;
		padding-top: 14px;
		width: 40%;
		min-width:300px;
		text-align: center;
		cursor: pointer;
		border-radius: 6px;
		font-size: 20px;
		transition: background 0.2s ease-in-out;
	}

	.join-button:hover{
		background-color: #BB4334;
	}

	.note-info{
		color: #777;
	}