
html, body, canvas{
	margin: 0;
	padding: 0;
	background: #888;
	overflow: hidden;
	background-image:url('http://az616578.vo.msecnd.net/files/2016/05/16/635989609636555808-1411640769_concert-audience.jpg');

}

/**** WELCOME SCREEN ****/
#welcome{
	position: absolute;
	z-index: 1000;
	padding: 5%;
	margin: 5%;
	width: 50%;
}
.modal-body{
	height:140px;
}


#hashtag{
	position: absolute;
	bottom: 0;
	left: 0;
	color: white;
	padding-left: 4px;
}

.join {
	display: none;
}

/**** CHAT *****/


.shadow {
	box-shadow: 0 0 5px 2px #333;
	
}

.placeholder-text {
	color: #ddd;
	font-weight: 300;
}


.invite-input{
	margin-right:3px;
}


.popover{
	min-width:400px;
}


.no-padding-right{
	padding-right: 0;
	padding-left: 0;
}

.no-padding-left {
	padding-left: 0;
	padding-right: 0;
}


canvas{
	position: absolute;
	left: 0;
}
video{
	position: absolute;
	left: 0;
}

#hearts {
	background: black;
	position: absolute;
	height: 100%;
	width: 100%;
	top:0px;
	left: 0px;
	z-index: -5;
	/*display: none;*/
}

.input-group-addon {
	padding: 0;
	border: none;
}

#info {
	position: absolute;
	width: auto;
	font-size: 14px;
	bottom: 10px;
	left:10px;
	background: rgba(0,0,0,0.5);
	padding: 10px;
	color: #fff;
	cursor: pointer;
}


.glyphicon {
	color: #ef4136;
	font-size: 16px;
}


.dismiss-info {
	font-style: italic;
	font-size: 11px;
}


#container:hover{
	cursor: -webkit-grab; cursor: -moz-grab;
}

#container:active{
	cursor: -webkit-grabbing; cursor: -moz-grabbing;
}



/**** CHAT *****/


.emoji-icon-con {
    display: inline-table;
    width: 25%;
    height: 100%;
    position: relative;
}



.emoji-icon {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#emoji-box{
	background: rgba(0,0,0,0.3);
	z-index:123;
}

#chat-wrapper{
	position: absolute;
	top:0;
	right: 0;
	width: 20%;
	height: 100%;
	min-width: 255px;

}

.shadow {
	box-shadow: 0 0 5px 2px #333;
}

.placeholder-text {
	position: relative;
	top:50%;
	text-align: center;
	color: #ddd;
	font-weight: 300;
}

#chat-subwrapper {
	position: relative;
	height: 100%;
	min-width: 100%;
}

.toggle-chat, .toggle-chat:link, .toggle-chat:visited, .toggle-chat:active {
	color: #ef4136;
}

.toggle-chat:hover {
	color: #bf342b;
	text-decoration: none;
}

.popover{
	min-width:400px;
}

#chat-widget{
	position: absolute;
	right: 0;
	top: 0;
	width:100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
}

#chat-spacer {
	height:6%;
	min-height:40px;
	width: 100%;
	/*border-bottom: 1px solid #000;*/
	background: rgba(0,0,0,.1);
}

#chat-box {
	height: 80%;
	width: 100%;
	overflow-y: scroll;
	padding: 10px;
}

#chat-message-list div{
	position: relative;
	right:0;
	padding:0;
	padding-top:4px;
	text-align:right;
	font-size: 10px;
}

#chat-message-list li {
	padding-top: 5px;
	padding-bottom: 8px !important;
	border-bottom: 1px solid rgba(204,204,204,.15);
	font-size: 12px;
	color: #eee;
	width: 100%;
	padding: 0;
}

.chat-row {
	margin-right: 0;
	margin-left: 0;
}

#chat-message {
	height: 19%;
}


#chat-input-message{
	padding-right:40px;
	height:43px;
	position: relative;
	left:0;
	bottom:0;
}

.btn-send{
	right:0;
	bottom:0;
	margin-left:5px;
	height:43px;
}


#chat-form {
	position: fixed;
	bottom: 0;
	margin:0;
	z-index: 200;
}

.no-padding{
	padding-right: 0;
	padding-left: 0;
}

.btn, .form-control {
	border-radius: 0;
}


.form-control:focus{
	box-shadow: none;
	-webkit-box-shadow: none;
	border-color:#ccc;
}

.btn-custom, .btn-custom:active, .btn-custom:visited, .btn-custom:focus{
	border-color: #ef4136;
	background:#ef4136;
	color: #fff;
}

.btn-custom2, .btn-custom2:active, .btn-custom2:visited, .btn-custom2:focus{
	border-color: #ef4136;
	background:#2196f3;
	color: #fff;
}

.btn-custom2:hover {
	border-color: #bf342b;
	background:#1286e5;
	color: #fff;
}

.btn-custom:hover {
	border-color: #bf342b;
	background:#bf342b;
	color: #fff;
}


#container{
	width:100%;
	height:100%;
	position: absolute;
	left:0;
	margin:0;
	padding:0;
}


.invite-input{
	margin-right:3px;
}

#chat-toggle {
	position: absolute;
	top: 10px;
	right: 14px;
	z-index:200;
	font-size: 20px;
}

#social-toggle {
	position: absolute;
	top: 10px;
	right: 47px;
	z-index:200;
	font-size: 20px;
}

#invite-toggle {
	position: absolute;
	top: 10px;
	right: 79px;
	z-index:200;
	font-size: 20px;
}

#invite-text{
	font-size:14px;
	color: #ef4136;
}

#logo{
	position: absolute;
	margin: 5px;
	z-index: 10;
	top:0;
	left:2;
}
#logo-img{
	width: 150px;
	height: auto;
}

.ui-icon{
	width:22px;
}

.input-group-addon {
	padding: 0;
	border: none;
}

#more-info {
	font-size:18px;
	margin:18px;
}